.map  {
    height: 80vh!important;
}

.mycluster {
    background-color: #ffdf73;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    box-shadow: 3px 6px 6px 0px #ababab;
}

.leaflet-container {
    z-index: 1;
}
